{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
    <div class="row">
        <ul>
        <h3>Список учеников:</h3>
            {% for student in students %}
                <p style="color: #6f42c1">Студент: {{ student.name }}</p>
                <p>Класс: {{ student.group }}</p>
                <p>Учителя:</p>
                <ul>
                {% for teacher in  student.teacher.all %}
                    <li>{{ teacher }}</li>
                {% endfor %}
                </ul>
                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
